<div class="auth-wrapper align-items-stretch aut-bg-img">
  <div class="flex-grow-1">
      <div *ngIf="alertMsg">
          <app-demo-alert [type]="alertType" dismiss="true">{{alertMsg}}</app-demo-alert>
      </div>
    <div class="h-100 d-md-flex align-items-center auth-side-img row">
      <div class="col-sm-10 auth-content w-auto">
        <img src="assets/images/auth/comm-acc-logo-001.png" alt="logo" class="img-fluid" />
        <h1 class="text-white my-4">Welcomes you to the start of Your Commission Accelerator Journey!</h1>
        <h4 class="text-white font-weight-normal">
            Signup to start the process of applying for a Commission Accelerator Account.
        </h4>
      </div>
      @if(loading) {
        <section class="items-load-spinner-section">
          <h3>Processing your Registration Request</h3>
          <mat-progress-spinner
            class="items-load-spinner-margin"
            [color]="loadSpinnerColor"
            [mode]="loadSpinnerMode"
            [diameter]="loadSpinnerDiameter"
          ></mat-progress-spinner>
        </section>
      }
      <app-footer></app-footer>
    </div>
    <div class="auth-side-form">
      <div class="auth-content">
        <img src="assets/images/auth/auth-logo-dark.png" alt="logo" class="img-fluid mb-4 d-block d-xl-none d-lg-none" />
        <h4 class="mb-3 f-w-400">Sign up</h4>
          <form [formGroup]="signupForm" (ngSubmit)="submit()">
              <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon6"><i class="fa fa-user"></i></span>
                  <input
                    matInput
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      formControlName="firstName"
                      aria-label="firstName"
                      aria-describedby="basic-addon6"
                      autocapitalize="words"
                      (blur)="onFieldChange($event)"
                      [ngClass]="{ 'is-invalid': f?.['firstName'].touched && f?.['firstName'].errors }"
                  />
                  <div *ngIf="f?.['firstName'].touched && f?.['firstName'].errors" class="invalid-feedback">
                      <div *ngIf="f?.['firstName'].errors.required">First Name is required</div>
                  </div>
              </div>
              <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon5"><i class="fa fa-user"></i></span>
                  <input
                      matInput
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                      formControlName="lastName"
                      autocapitalize="words"
                      aria-label="lastName"
                      aria-describedby="basic-addon2"
                      (blur)="onFieldChange($event)"
                      [ngClass]="{ 'is-invalid': f?.['lastName'].touched && f?.['lastName'].errors }"
                  />
                  <div *ngIf="f?.['lastName'].touched && f?.['lastName'].errors" class="invalid-feedback">
                      <div *ngIf="f?.['lastName'].errors.required">Last Name is required</div>
                  </div>
              </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon2"><i class="fa fa-envelope"></i></span>
                  <input
                      matInput
                      type="email"
                      class="form-control"
                      placeholder="Email address"
                      formControlName="email"
                      aria-label="email"
                      aria-describedby="basic-addon2"
                      [ngClass]="{ 'is-invalid': f?.['email'].touched && f?.['email'].errors }"
                  />
                    <div *ngIf="f?.['email'].touched && f?.['email'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['email'].errors.required">Email is required</div>
                        <div *ngIf="f?.['email'].invalid">Valid Email Address Required</div>
                    </div>
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text" id="basic-addon3"><i class="fa fa-lock"></i></span>
                  <input
                      matInput
                      type="password"
                      id="password"
                      class="form-control"
                      formControlName="password"
                      placeholder="Password"
                      aria-label="password"
                      aria-describedby="basic-addon3"
                      [type]="hidePassword ? 'password' : 'text'"
                      [ngClass]="{ 'is-invalid': f?.['password'].touched && f?.['password'].errors }"
                  />
                  <span class="input-group-text" id="basic-addon7">
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </span>
                    <div *ngIf="f?.['password'].touched && f?.['password'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['password'].errors.required">Password is required</div>
                    </div>
                </div>
              <div class="input-group mb-4">
                  <span class="input-group-text" id="basic-addon4"><i class="fa fa-home"></i></span>
                  <input
                      class="form-control"
                      placeholder="Your DRE License Number"
                      id="dreNumber"
                      type="text"
                      formControlName="dreNumber"
                      [ngClass]="{ 'is-invalid': f?.['dreNumber'].touched &&  f?.['dreNumber'].errors }"
                  />
                  <div *ngIf="f?.['dreNumber'].touched && f?.['dreNumber'].errors" class="invalid-feedback">
                      <div *ngIf="f?.['dreNumber'].errors.required">DRE# Required</div>
                  </div>
              </div>
                <div class="d-grid">
                  <button [disabled]="loading" class="btn btn-primary btn-block mb-4">Sign Up</button>
                </div>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
            </form>
        <div class="text-center">
          <div class="separator my-4"><span>OR</span></div>
          <p class="mt-4">Already have an account? <a [routerLink]="['/auth/signin-v2']" class="f-w-400">Sign In</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
