<div class="auth-wrapper align-items-stretch aut-bg-img">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img row">
      <div class="col-sm-10 auth-content w-auto">
        <img src="assets/images/auth/comm-acc-logo-001.png" alt="logo" class="img-fluid" />
          <h1 class="text-white my-4">Apply for a Real Estate Commission Advance</h1>
          <button><a [routerLink]="['/auth/signup-v2']" class="f-w-400">Start the Application Process</a></button>
          <h1 class="text-white my-4">If your Application is pending approval</h1>
          <h4 class="text-white font-weight-normal">
              Signin to view your progress</h4>
        <h1 class="text-white my-4">Existing Clients - Welcome Back!</h1>
        <h4 class="text-white font-weight-normal">
            Signin to your account and go to your dashboard</h4>
      </div>
      @if(loading) {
        <section class="items-load-spinner-section">
          <h3>Loading Your Dashboard</h3>
          <mat-progress-spinner
            class="items-load-spinner-margin"
            [color]="loadSpinnerColor"
            [mode]="loadSpinnerMode"
            [diameter]="loadSpinnerDiameter"
          ></mat-progress-spinner>
        </section>
      }
        <app-footer></app-footer>
    </div>
    <div class="auth-side-form">
      <div class="auth-content">
        <img src="assets/images/auth/comm-acc-logo-001-dark.png" alt="logo" class="img-fluid mb-4 d-block " />
        <h3 class="mb-4 f-w-400">SignIn</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            <input
              type="text"
              placeholder="Enter Your Email Id"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f?.['username'].errors }"
            />
            <div *ngIf="submitted && f?.['username'].errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Email Username is required</div>
            </div>
          </div>
          <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock"></i></span>
            <input
              type="password"
              id="password"
              placeholder="Enter Your Password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f?.['password'].errors }"
            />
            <span class="input-group-text" id="basic-addon-3" style="width: 38px" >
                <i class="fa fa-eye  password-show" id="togglePassword" style="margin-right: -28px"></i>
            </span>
            <div *ngIf="submitted && f?.['password'].errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
            <div>

            </div>
          <div class="form-group text-start mt-2">
            <div class="checkbox checkbox-primary d-inline">
              <input type="checkbox" name="checkbox-p-1" id="checkbox-p-1"  />
              <label for="checkbox-p-1" class="cr">Save credentials</label>
            </div>
          </div>
          <div class="d-grid">
            <button class="btn btn-block btn-primary mb-0">Signin</button>
          </div>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
        </form>
        <div class="text-center">
          <div class="saprator my-4"><span>OR</span></div>
<!--            <button type="button" class="btn googleBtn" (click)="authenticationService.GoogleAuth()">-->
<!--                <i class="fab fa-google"></i>-->
<!--                Log in with Google-->
<!--            </button>-->
          <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/auth/reset-password-v2']" class="f-w-400">Reset</a></p>
<!--          <p class="mb-0 text-muted">Don’t have an account (Register)? <a [routerLink]="['/auth/reg-form']" class="f-w-400">Register</a></p>-->
            <p class="mb-0 text-muted">Don’t have an account ? <a [routerLink]="['/auth/signup-v2']" class="f-w-400">Register</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

