.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
    min-width: 100%;
}

#client-wizard.card-body {
    margin: auto;
    width: 700px;
}

.registration-load-spinner-section {
    display: block;
    text-align: center;
    height: 110px;
}

.registration-load-spinner-margin {
    margin: auto;
}
